<h2>Post a workout, and record your results!</h2>

<form action="/users/<%= @user.id %>/workouts" method="POST">
<input type="text" name="workout[name]" placeholder="Workout Name:">
<input type="text" name="workout[content]" placeholder="Workout Description:">
<input type="text" name="workout[score]" placeholder="Your Score:">
<input type="submit" value="Submit Workout">
</form>