<h2>Profile Information</h2>

<form action="/users/<%= @user.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
First Name: <input type="text" name="first_name" value="<%= @user.first_name %>">
Last Name: <input type="text" name="last_name" value="<%= @user.last_name %>">
Username: <input type="text" name="username" value="<%= @user.username %>">
<input type="submit" id="Submit" value="Save Changes">
</form>